<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
    <h1>Seja bem-vindo, <%= userid %>!</h1>
    <p>Você entrou com o userid: <strong><%= userid %></strong></p>
    <p><a href="/">Ir para índice</a></p>
    <%- include('./partials/footer') %>
  </body>
</html>
