<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Seja bem-vindo, <%= userid %>!</h1>
    <p>Você entrou com o userid: <strong><%= userid %></strong></p>
    <p><a href="/">Ir para índice</a></p>
  </body>
</html>
